/* .container{
    margin-top: 50px;
} */
.main_div {
  width: 70%;
  margin: auto;
}
.main_div > div {
  display: flex;
  margin-bottom: 5px;
  gap: 15px;
  padding: 3px;
}
.main_div > div {
  border: 3px solid silver;
  border-radius: 5px;
}
.main_div > div:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.name_div {
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .main_div {
    width: 95%;
    margin: auto;
  }
}
